__pycache__/db.cpython-39.pyc
__pycache__/hello.cpython-39.pyc
__pycache__/pd_model.cpython-39.pyc
__pycache__/router.cpython-39.pyc
__pycache__/suanpan.cpython-39.pyc
click_example_db.egg-info/dependency_links.txt
click_example_db.egg-info/entry_points.txt
click_example_db.egg-info/PKG-INFO
click_example_db.egg-info/requires.txt
click_example_db.egg-info/SOURCES.txt
click_example_db.egg-info/top_level.txt
